# python=3.10

# formatting
black
ruff

# logging
wandb

# Visualization
seaborn
plotly
dash
dash-bootstrap-components


# JAX
    # Types
    beartype
    jaxtyping
    # JAX Neural networks
    flax
    jraph
    distrax
    optax
    orbax

    #NODE
    diffrax